@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');
:root{
    --mainColor: #fff;
    --mainBgColor: #111;
    --img-txt-hover: rgba(212, 211, 212, 0.938);
    --headerBg: rgb(77, 74, 74);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
body{
    margin-bottom: 20px;
    background: var(--mainBgColor);
}
header{
    position: fixed;
    width: 100%;
    height: 80px;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--headerBg);
    z-index: 1000;
}
header .logo{
    color: var(--mainColor);
    font-size: 30px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 700;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    padding: 5px 10px;
    color: var(--mainColor);
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
/*header ul li a.active,*/
header ul li a:hover{
    background: #205aff;
}

.toggle{
    display: none;
}

.section {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50vh;
    padding: 150px 100px 100px;
    background: #111;
    color: var(--mainColor);

}

.section img{
    height: 300px;
    width: 350px;
    margin-left: 30px;
}

.section p {
    font-size: 18px;
}
.section a{
    text-decoration: none;
    color: rgb(170, 169, 169);
}
.section span{
    font-size: 30px;
    left: 15px;
}
span{
    font-size: 30px;
    color: var(--mainColor);
    margin-left: 25px;
}


.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: repeat(4, minmax(240px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding: 12px;
    margin-bottom: 125px;
}

.portfolio-item-wrapper{
    position: relative;
}

.portfolio-img-background{
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img{
    width: 50%;
    margin-bottom: 20px;
}

.img-text-wrapper .subtitle{
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.img-text-wrapper:hover .subtitle{
    font-weight: 600;
    color: var(--img-txt-hover); 
}

.img-darken{
    transition: 1s;
    filter: brightness(7%);
}
.contact{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 35px;
    margin-left: 50px;
}
.contact a{
    color: rgba(227, 187, 235, 0.473);
    font-size: 30px;
    text-decoration: none;
    padding: 45px;
}
.socialMe h2{
    margin-left: 25px;
}

@media (max-width: 1140px){
    .section{
        width: 100%;
        overflow: hidden;
    }
    .section .post{
        margin: 20px;
    }
    .section img{
        display: flex;
        flex-direction: row;
        margin: 10px;
        max-width: 300px;
    }
    .post-preview{
        margin-top: 12px;
    }
}
@media(max-width: 992px)
{
    .section{
        padding: 100px 50px 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section img {
        margin: 50px 0 0;
        max-width: 290px;
    }
    header ul {
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: calc(100vh - 80px);
        padding: 50px 100px;
        text-align: center;
        overflow: auto;
        transition: 0.5s;
        background: #000;
        flex-direction: column;
        opacity: 0;
        transform: translateY(-100%);
    }
    header.active ul {
        opacity: 1;
        top: 80px;
        transform: translateY(0);
    }
    header ul li a{
        margin: 5px 0;
        font-size: 24px;
    }
    .toggle{
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .toggle::before{
        content: '';
        position: absolute;
        top: 4px;
        width: 100%;
        height: 2px;
        background: #fff;
        z-index: 1;
        box-shadow: 0 10px 0 #fff;
        transition: 0.5s;
    }
    .toggle::after{
        content: '';
        position: absolute;
        bottom: 4px;
        width: 100%;
        height: 2px;
        background: #fff;
        z-index: 1;
        transition: 0.5s;
    }
    header.active .toggle::before{
        top: 14px;
        transform: rotate(45deg);
        box-shadow: 0 0 0 #fff;
    }
    header.active .toggle::after{
        bottom: 14px;
        transform: rotate(-45deg);
    }
    .content-wrapper span{
        display: flex;
        color: #fff;
        left: 25px;
    }
    
    .portfolio-items-wrapper{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        padding: 12px;
        margin-bottom: 125px;
    }
    .contact{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }
    .img-text-wrapper:hover .subtitle{
        font-weight: 600;
        color: rgba(212, 211, 212, 0.938);
    }
}
@media (hover: hover) and (pointer: fine) and (max-width: 992px){
    .img-text-wrapper:hover .subtitle{
        font-weight: 600;
        color: rgba(212, 211, 212, 0.938); 
    }
}